<div class="bg-white rounded-2xl shadow p-4 sm:p-6 relative">
  <!-- Tabs -->
  <div
    class="flex gap-6 border-b pb-2 mb-4 text-sm sm:text-base bg-white sticky top-0 z-20"
  >
    <button
      *ngFor="let tab of tabs"
      (click)="selectTab(tab)"
      [ngClass]="
        selectedTab === tab
          ? 'font-semibold text-sky-600 border-b-2 border-sky-600 pb-1'
          : 'text-gray-500'
      "
    >
      {{ tab }}
    </button>
  </div>

  <!-- Forecast List -->
  <div class="divide-y max-h-[500px] overflow-y-auto">
    <div
      *ngFor="let item of filteredHours"
      class="flex items-center justify-between py-4"
    >
      <!-- Left -->
      <div class="flex items-center gap-3">
        <img [src]="item.image" class="w-8 h-8" />
        <div>
          <p class="text-xs sm:text-sm font-medium text-gray-600">
            {{ item.displayTime }}
          </p>
          <p class="text-xs sm:text-sm text-gray-700">
            {{ item.condition }}
          </p>
        </div>
      </div>

      <!-- Right -->
      <div class="text-right">
        <p class="text-lg sm:text-xl font-semibold">
          {{ item.temp ? item.temp + '°C' : item.temp_min + '°C - ' + item.temp_max + '°C' }}
        </p>
        <p class="text-xs text-gray-500" >Wind: {{ item.wind }} km/h</p>
        <p class="text-xs text-gray-500" >Humidity: {{ item.humidity }}%</p>
      </div>
    </div>
  </div>
</div>

