<div class="p-4 sm:p-6 bg-gray-200 min-h-screen ">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
 
    <div class="lg:col-span-2 space-y-6">
     
      <app-weather-card [weather]="weatherData"></app-weather-card>

      <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
        <div class="bg-white rounded-2xl shadow p-4 text-center">
          <p class="text-gray-400 text-xs sm:text-sm">Air Quality</p>
          <p class="font-bold text-base sm:text-lg">{{ weatherData?.forecast.today.airQuality }}</p>
        </div>
        <div class="bg-white rounded-2xl shadow p-4 text-center">
          <p class="text-gray-400 text-xs sm:text-sm">Wind</p>
          <p class="font-bold text-base sm:text-lg">{{ weatherData?.forecast.today.wind }} mph</p>
        </div>
        <div class="bg-white rounded-2xl shadow p-4 text-center">
          <p class="text-gray-400 text-xs sm:text-sm">Humidity</p>
          <p class="font-bold text-base sm:text-lg">{{ weatherData?.forecast.today.humidity }}%</p>
        </div>
        <div class="bg-white rounded-2xl shadow p-4 text-center">
          <p class="text-gray-400 text-xs sm:text-sm">Visibility</p>
          <p class="font-bold text-base sm:text-lg">{{ weatherData?.forecast.today.visibility }} mi</p>
        </div>
        <div class="bg-white rounded-2xl shadow p-4 text-center">
          <p class="text-gray-400 text-xs sm:text-sm">Pressure</p>
          <p class="font-bold text-base sm:text-lg">{{ weatherData?.forecast.today.pressure }}</p>
        </div>
        <div class="bg-white rounded-2xl shadow p-4 text-center">
          <p class="text-gray-400 text-xs sm:text-sm">UV Index</p>
          <p class="font-bold text-base sm:text-lg">{{ weatherData?.forecast.today.uvIndex }}</p>
        </div>
      </div>

      <div class="bg-white rounded-2xl shadow p-6">
        <h3 class="text-gray-500 mb-4 text-sm sm:text-base">Sun & Moon Summary</h3>
        <div class="flex justify-between text-xs sm:text-sm">
          <div>
            <p class="text-gray-400">Sunrise</p>
            <p class="font-semibold">{{ weatherData?.sunrise }}</p>
          </div>
          <div>
            <p class="text-gray-400">Sunset</p>
            <p class="font-semibold">{{ weatherData?.sunset }}</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <app-forecast-list [weather]="weatherData"></app-forecast-list>
    </div>
  </div>
</div>
