<nav class="bg-white border-b border-gray-200 px-4 lg:px-6 py-2.5 shadow-sm">
  <div class="h-16 flex items-center justify-between mx-auto max-w-screen-xl">

    <div class="flex items-center gap-3">
  
      <img src="assets/weather-logo.png" 
           alt="Weather Logo" 
           class="h-9 w-auto object-contain" />

      <div class="flex items-center text-gray-700 text-sm sm:text-base font-medium gap-1">
        <i class="fa fa-map-marker-alt text-sky-500"></i>
        <span class="truncate max-w-[140px] sm:max-w-[220px]">
          {{ searchTerm }}
        </span>
      </div>
    </div>

    <div class="flex  bg-gray-50 border border-gray-200 rounded-full shadow-sm overflow-hidden sm:hidden px-3 text-gray-400">
        <span class="px-3 text-gray-400" (click)="toggleMobileSearch()" *ngIf="!showMobileSearch">
          <i class="fa fa-search"></i>
        </span>
      
      </div>

    <!-- Search Box -->
    <div class="flex-1 sm:px-6" [ngClass]="{'block': showMobileSearch || screenWidth >= 640, 'hidden': !showMobileSearch && screenWidth < 640}"
>
      <div class="flex items-center bg-gray-50 border border-gray-200 rounded-full shadow-sm overflow-hidden">
        <span class="px-3 text-gray-400">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" 
               placeholder="Search Location" 
               class="flex-1 bg-transparent focus:outline-none px-2 py-2 text-sm sm:text-base"
               [(ngModel)]="searchTerm" 
               (input)="onInputChange()" />
        <button (click)="useCurrentLocation()" 
                class="px-3 text-gray-500 hover:text-sky-600">
          <i class="fa fa-location-arrow"></i>
        </button>
      </div>

      <ul *ngIf="filteredCities.length > 0"
          class="absolute bg-white border border-gray-200 shadow-md mt-1 w-full rounded-lg z-50">
        <li *ngFor="let cities of filteredCities" 
            (click)="selectCity(cities)"
            class="px-4 py-2 hover:bg-sky-100 cursor-pointer">
          {{ cities.city }}, {{ cities.country }}
        </li>
      </ul>
    </div>
  </div>
</nav>
